body{
	background-image: url(image/16570704aae98e4.jpg);
}

.register{
	width:100px;
}

#web{
	display:none;
}

.container {
    width: 12000px;
    height: 75px;
    margin: 0 auto;
    background-color:black;
} 

.logo{
	height:75px;
	width:75px;
	float:left;
}

.nav {
    float: left;
    margin-top: 25px;
}

.nav li {
    float: left;
    width: 122px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    list-style:none;

}

.nav a {
    color:white;
    text-decoration: none;
}

.banner{
       width: 1200px;
       height: 300px;
       margin: 100px auto;
       position: relative;
       overflow: hidden;
}

.banner-img{
           width: 3600px;
           height: 300px;
           position: absolute;
}


.banner-img-N{
            width: 1200px;
            height: 300px;
            float: left;
}

.img{
    width: 100%;
    height: 100%;
}

.img-n{
	    height:250px;
	    width: 150px;
}
.spot{
     position: absolute;
     width: 100%;
     text-align: center;
     bottom: 5px;
}

.spot-N{
       width: 30px;
       height: 30px;
       font-size: 20px;
       text-align: center;
       line-height: 30px;
       font-weight: bolder;
       margin: 10px;
       display: inline-block;
       background: rgba(255, 255, 255, 0.3);
}

.btn{
    width: 100%;
    height: 80px;
    position: absolute;
    margin: 0 auto;
    top: 120px;

}

.left , .right{
    width: 30px;
    height: 80px;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    line-height: 80px;
    font-size: 30px;

}

.left{
     float: left;
}

.right{
      float: right;
}